<div>
  <table class="customers">

    <colgroup>
      <col><col><col><col><col><col><col>
    </colgroup>

    <thead>

    <tr class="tr-head">
      <th class="no-select not-sort-th" (click)="sortPage(0)">
        Ф.И.О
        <span *ngIf="sortIndex==0">
            ▲
          </span>
        <span *ngIf="sortIndex==0+100">
          ▼
          </span>
      </th>

      <th class="no-select not-sort-th" (click)="sortPage(2)">
        Возраст
        <span *ngIf="sortIndex==2">
            ▲
          </span>
        <span *ngIf="sortIndex==2+100">
            ▼
          </span>
      </th>

      <th class="no-select not-sort-th" (click)="sortPage(3)">
        Баланс
        <span *ngIf="sortIndex==3">
          ▲
          </span>
        <span *ngIf="sortIndex==3+100">
          ▼
          </span>
      </th>

      <th class="no-select not-sort-th" (click)="sortPage(4)">
        Мак баланс
        <span *ngIf="sortIndex==4">
            ▲
          </span><span *ngIf="sortIndex==4+100">
            ▼
          </span>
      </th>

      <th class="no-select not-sort-th" (click)="sortPage(5)">
        Мин баланс
        <span *ngIf="sortIndex==5">
            ▲
          </span>
        <span *ngIf="sortIndex==5+100">
            ▼
          </span>
      </th>

      <th class="no-select not-sort-th" style="cursor: default;">
        Удалить
      </th>

      <th class="no-select not-sort-th" style="cursor: default;">
        Изменить
      </th>
    </tr>

    </thead>

    <tbody *ngIf="clientRecords.length == 0">
    <tr>
      <td colspan="8">
        <label style="width: 100%; text-align: center; font-size: 30px">Не найдено ни одного клиента !</label>
      </td>
    </tr>
    </tbody>

    <tbody *ngIf="clientRecords.length != 0">

    <tr *ngFor="let client of clientRecords">
      <td scope="col">
        {{client.surname}} {{client.name}} {{client.patronymic}}
      </td>

      <td scope="col">
        {{client.age}}
      </td>

      <td scope="col">
        {{client.middle_balance}}
      </td>

      <td scope="col">
        {{client.max_balance}}
      </td>

      <td scope="col">
        {{client.min_balance}}
      </td>

      <td scope="col"><button class="action-button" (click)="deleteClientButtonClicked(client)">
        <i class="fa fa-trash">
        </i>
      </button>
      </td>

      <td scope="col">
        <button class="action-button" (click)="editClientButtonClicked(client.id)">
          ...
        </button>
      </td>
    </tr>

    </tbody>
    <tfoot>

    <tr style="background: #e9e9e9;">
      <td colspan="8">
        <table style="width: 100%;">
          <thead>
          <th>

            <div class="custom-button">
              <button class="no-select" style="float: right; height: 50px" (click)="getRender()">
                GET
              </button>
              <button class="no-select" style="float: right; height: 50px" (click)="editClientButtonClicked(null)">
                +
              </button>
              <button class="no-select" style="float: right; height: 50px" (click)="filterPage()">
                Поиск
              </button>
              <button class="no-select" style="float: right; height: 50px; margin-left: -16px;" (click)="clearFilter()">
                ⌫
              </button>
              <input id="searchInput" type="text" style="height: 50px" placeholder="Поиск.." [(ngModel)]="searchInputText">
            </div>

          </th>
          <th>
            <div class="float_center" *ngIf="pagesCount()>1">
              <div class="pagination">
                <li>
                  <span class="no-select" (click)="pageChanged(currentPage-1)" [hidden]="currentPage<=1">
                    &lt;НАЗАД
                  </span>
                </li>

                <li>
                <span class="no-select" (click)="pageChanged(currentPage-2)" [hidden]="currentPage <= pagesCount() - 1">
                  {{currentPage - 2}}
                </span>

                  <span class="no-select" (click)="pageChanged(currentPage-1)" [hidden]="currentPage === 1">
                  {{currentPage - 1}}
                </span>

                  <span class="no-select active">
                  {{currentPage}}
                </span>

                  <span class="no-select" (click)="pageChanged(currentPage+1)" [hidden]="currentPage >= pagesCount()">
                  {{currentPage + 1}}
                </span>

                  <span class="no-select" (click)="pageChanged(currentPage+2)" [hidden]="currentPage >= pagesCount() - 1">
                  {{currentPage + 2}}
                </span>

                  <span class="no-select" (click)="pageChanged(currentPage+3)" [hidden]="currentPage !== 0 ">
                  {{currentPage + 4}}
                </span>
                </li>

                <li>
                <span class="no-select" (click)="pageChanged(currentPage+1)" [hidden]="currentPage === pagesCount()">
                  ДАЛЕЕ&gt;
                </span>
                </li>
              </div>
              <label>
                Общее количество клиентов = {{clientRecordsCount}}
              </label>
            </div>
          </th>
          <th>
            <div style="float: right;">
              <select [(ngModel)]="numberOfItemInPage" class="pagination selector" (change)="loadClientRecordsList(1)">
                <option *ngFor="let i of range(10, 31, 10)" value="{{i}}">
                  {{i}}
                </option>
              </select>
            </div>

          </th>
          </thead>
        </table>
      </td>
    </tr>
    </tfoot>
  </table>

  <client-info-form-component [clientId]="editClientId" (onClose)="close($event)"
                              *ngIf="clientInfoFormComponentEnable"></client-info-form-component>
</div>