
<mat-form-field style="margin: 10px">
  <input matInput [formControl]="filterText" placeholder="Enter text to filter" />
</mat-form-field>

<mat-form-field style="margin: 10px">
  <mat-select placeholder="Filter Type" [formControl]="filterType" >
    <mat-option value="NAME">NAME</mat-option>
    <mat-option value="SURNAME">SURNAME</mat-option>
    <mat-option value="PATRONYMIC">PATRONYMIC</mat-option>
  </mat-select>
</mat-form-field>

<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements"
             matSort matSortActive="fullName" matSortDirection="asc" matSortDisableClear>

    <ng-container matColumnDef="fullName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Full Name</mat-header-cell>
      <mat-cell *matCellDef="let tableModel">{{tableModel.fullName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="age">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Age</mat-header-cell>
      <mat-cell *matCellDef="let tableModel">{{ ((currentTime - tableModel.age) / (1000 * 60 * 60 * 24 * 365))| number:'1.0-0'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="charm">
      <mat-header-cell *matHeaderCellDef >Charm</mat-header-cell>
      <mat-cell *matCellDef="let tableModel">{{tableModel.charm}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="totalBalance">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Total Balance</mat-header-cell>
      <mat-cell *matCellDef="let tableModel">{{tableModel.totalBalance}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="maxBalance">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Max Balance</mat-header-cell>
      <mat-cell *matCellDef="let tableModel">{{tableModel.maxBalance}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="minBalance">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Min Balance</mat-header-cell>
      <mat-cell *matCellDef="let tableModel">{{tableModel.minBalance}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let user; columns: displayedColumns;"
             [ngClass]="{'highlight': selectedRowIndex == user.id}"
             (click)="onRowSelected(user)"

    ></mat-row>
  </mat-table>

  <mat-paginator #paginator
    [length]="dataSource.size"
    [pageIndex]="0"
    [pageSize]="3"
    [pageSizeOptions]="[3, 6, 9]">
  </mat-paginator>



</div>

<button mat-stroked-button="PDF" (click)="getReport('PDF')" >PDF</button>
<button mat-stroked-button="XML" (click)="getReport('XML')" >XML</button>
