<!--<h1 mat-dialog-title>{{typeOfDialogCall}}} user</h1>-->
<!--<mat-dialog-content [formGroup]="form">-->

  <!--<form mat-form-field>-->
    <!--<input matInput-->
            <!--placeholder="Surname"-->
            <!--formControlName="surname"-->
            <!--required>-->
    <!--&lt;!&ndash;[(ngModel)]="user.surname"&ndash;&gt;-->


  <!--</form>-->
  <!--<form mat-form-field>-->
    <!--<input matInput-->
           <!--placeholder="Surname"-->
           <!--formControlName="surname"-->
           <!--required>-->

    <!--&lt;!&ndash;[(ngModel)]="user.name"&ndash;&gt;-->

  <!--</form>-->
  <!--<form mat-form-field>-->
    <!--<input matInput-->
           <!--placeholder="Patronymic"-->
           <!--formControlName="patronymic">-->
    <!--&lt;!&ndash;[(ngModel)]="user.patronymic"&ndash;&gt;-->
  <!--</form>-->
  <!--&lt;!&ndash;<form mat-form-field>&ndash;&gt;-->
  <!--&lt;!&ndash;<input matInput&ndash;&gt;-->
         <!--&lt;!&ndash;placeholder="Patronymic"&ndash;&gt;-->
         <!--&lt;!&ndash;formControlName="patronymic">&ndash;&gt;-->
  <!--&lt;!&ndash;[(ngModel)]="user.patronymic"&ndash;&gt;-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->

<!--</mat-dialog-content>-->

<!--<mat-dialog-actions>-->
  <!--<button mat-stroked-button (click)="close()" style="margin: 10px"> close </button>-->
  <!--<button mat-raised-button class="mat-primary" (click)="save()" style="margin: 10px"> save </button>-->
<!--</mat-dialog-actions>-->
