<h1 mat-dialog-title>{{typeOfDialogCall}}} user</h1>
<mat-dialog-content [formGroup]="form">

  <form mat-form-field>
    <input matInput
            placeholder="Surname"
            formControlName="surname"
            required>
    <!--[(ngModel)]="user.surname"-->


  </form>
  <form mat-form-field>
    <input matInput
           placeholder="Surname"
           formControlName="surname"
           required>

    <!--[(ngModel)]="user.name"-->

  </form>
  <form mat-form-field>
    <input matInput
           placeholder="Patronymic"
           formControlName="patronymic">
    <!--[(ngModel)]="user.patronymic"-->
  </form>
  <!--<form mat-form-field>-->
  <!--<input matInput-->
         <!--placeholder="Patronymic"-->
         <!--formControlName="patronymic">-->
  <!--[(ngModel)]="user.patronymic"-->
<!--</form>-->

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-stroked-button (click)="close()" style="margin: 10px"> close </button>
  <button mat-raised-button class="mat-primary" (click)="save()" style="margin: 10px"> save </button>
</mat-dialog-actions>
