
<div style="margin: 20px 0; padding-left: 10%; padding-right: 10%;">

  <div style="margin: 0 auto;">

    <button mat-stroked-button (click)="createButtonClicked()" color="basic" style="margin: 10px">Create</button>

    <button mat-stroked-button (click)="updateButtonClicked()" color="primary" style="margin: 10px">Update</button>

    <button mat-stroked-button (click)="deleteButtonClicked()" color="warn" style="margin: 10px">Delete</button>

    <button mat-stroked-button (click)="exit.emit()" style="margin: 10px">Выход</button>

  </div>
  <mat-dialog-content *ngIf="userIsLoading"><mat-progress-bar mode="buffer"></mat-progress-bar></mat-dialog-content>
  <users-table style="width: 80%" (selectedUserID)="selectedUserIDChange($event)"></users-table>
</div>


