<div id="myModal" class="modal">
  <div class="modal-content">
    <span (click)="closeModalForm()" class="close">&times;</span>
    <h2 id="welcomeText"><b>{{welcomeText}}</b></h2><br>
    <form [formGroup]="clientInputForm" (ngSubmit)="submit()">
      <div class="row">
        <div class="form-group col-lg-3">
          <h4>Client data</h4>
          <p>Surname:</p>
          <input [(ngModel)]="clientInput.surname" formControlName="surname" id="surnameInput"
                 class="form-control"
                 type="text"
                 placeholder="Required">
          <p>Name:</p>
          <input [(ngModel)]="clientInput.name" formControlName="name" class="form-control"
                 placeholder="Required">
          <p>Middle Name:</p>
          <input [(ngModel)]="clientInput.patronymic" formControlName="patronymic" id="patronymicInput"
                 class="form-control" type="text"
                 placeholder="Required">
          <p>Date of birth: *</p>
          <input [(ngModel)]="clientInput.birthDate" formControlName="dateBirth" id="dateInput"
                 class="input-group date"
                 type="date">
          <p>Character: *</p>
          <select [ngModelOptions]="{standalone: true}" [(ngModel)]="clientInput.character"
                  size="characters.length">
            <option disabled> Select character</option>
            <option *ngFor="let character of characters"
                    value="{{character.id}}">{{character.name}}
            </option>
          </select>
          <p>Gender: *</p>
          <input type="radio" [(ngModel)]="clientInput.gender" [ngModelOptions]="{standalone: true}"
                 value="MALE">Male<br>
          <input type="radio" [(ngModel)]="clientInput.gender" [ngModelOptions]="{standalone: true}"
                 value="FEMALE">Female<br>
          <!--<input type="radio" [ngModelOptions]="{standalone: true}" value="1" id="male">-->
          <!--<label for="male">Male</label>-->
          <!--<input type="radio" [ngModelOptions]="{standalone: true}" value="1" id="female">-->
          <!--<label for="female">Female</label>-->
          <!--&lt;!&ndash;&ndash;&gt;-->
          <!--<input [(ngModel)]="clientInput.gender" formControlName="gender" #genderInput id="genderInput"-->
          <!--class="form-control"-->
          <!--type="text" placeholder="Required">-->
        </div>
        <div class="col-lg-3 form-group">
          <h4>Living address (fact)</h4>
          <p>Street</p>
          <input [(ngModel)]="factAddress.street" formControlName="factStreet" id="factStreetInput"
                 class="form-control" type="text">
          <p>House</p>
          <input [(ngModel)]="factAddress.house" formControlName="factHouse" id="factHouseInput"
                 class="form-control"
                 type="text">
          <p>Flat</p>
          <input [(ngModel)]="factAddress.flat" formControlName="factFlat" id="factFlatInput"
                 class="form-control" type="text">
        </div>
        <div class="col-lg-3 form-group">
          <h4>Registration address * </h4>
          <p>Street</p>
          <input [(ngModel)]="regAddress.street" formControlName="regStreet" id="streetInput"
                 class="form-control" type="text">
          <p>House</p>
          <input [(ngModel)]="regAddress.house" formControlName="regHouse" id="regHouse" class="form-control"
                 type="text">
          <p>Flat</p>
          <input [(ngModel)]="regAddress.flat" formControlName="regFlat" id="flatInput" class="form-control"
                 type="text">
        </div>
        <div class="col-lg-3 form-group">
          <h4>Phones(At least one mobile)</h4>
          <p>Home</p>
          <input (keypress)="omit_special_char($event)"
                 placeholder="+1 (123) 456-7890"
                 [textMask]="{mask: phoneMask}"
                 pattern="\+\d \(\d{3}\) \d{3}-\d{4}"
                 [(ngModel)]="homePhone.number" formControlName="homePhone" #homePhoneInput
                 id="homePhoneInput" class="form-control"
                 text
                 type="tel">

          <p>Working</p>
          <input (keypress)="omit_special_char($event)"
                 placeholder="+1 (123) 456-7890"
                 [textMask]="{mask: phoneMask}"
                 [(ngModel)]="workingPhone.number" formControlName="workingPhone" #workingPhoneInput
                 id="workingPhoneInput"
                 class="form-control" type="tel">

          <p>Mobile 1</p>
          <input (keypress)="omit_special_char($event)"

                 placeholder="+1 (123) 456-7890"
                 [textMask]="{mask: phoneMask}"
                 [(ngModel)]="mobilePhone1.number" formControlName="mobilePhone" #mobilePhone1Input
                 id="mobilePhone1Input"
                 class="form-control" type="tel">

        </div>
      </div>

    </form>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="check">
            <!--<h4>Basic data</h4>-->
            <!--<p>Surname:</p>-->
            <!--<input [(ngModel)]="clientInput.surname" #surnameInput id="surnameInput" class="form-control"-->
            <!--type="text"-->
            <!--placeholder="Required">-->

            <!--<input [(ngModel)]="clientInput.name" #nameInput id="nameInput" class="form-control" type="text"-->
            <!--placeholder="Required">-->
            <!--<p>Middle Name:</p>-->
            <!--<input [(ngModel)]="clientInput.patronymic" #patronymicInput id="patronymicInput"-->
            <!--class="form-control" type="text"-->
            <!--placeholder="Required">-->
            <!--<p>Date of birth</p>-->
            <!--<input [(ngModel)]="clientInput.birthDate" #dateInput id="dateInput" class="input-group date"-->
            <!--type="date">-->
            <!--<p>Character:(Required)</p>-->
            <!--<select [(ngModel)]="clientInput.character" size="characters.length">-->
            <!--<option disabled> Select character</option>-->
            <!--<option *ngFor="let character of characters"-->
            <!--value="{{character.id}}">{{character.name}}-->
            <!--</option>-->
            <!--</select>-->
            <!--<p>Gender</p>-->
            <!--<input [(ngModel)]="clientInput.gender" #genderInput id="genderInput" class="form-control"-->
            <!--type="text" placeholder="Required">-->
          </div>
        </div>
        <div class="col-lg-3">
          <div class="check">
            <!--<p>Street</p>-->
            <!--<input [(ngModel)]="factAddress.street" #factStreetInput id="factStreetInput"-->
            <!--class="form-control" type="text">-->

            <!--<p>House</p>-->
            <!--<input [(ngModel)]="factAddress.house" #factHouseInput id="factHouseInput" class="form-control"-->
            <!--type="text">-->

            <!--<p>Flat</p>-->
            <!--<input [(ngModel)]="factAddress.flat" id="factFlatInput" class="form-control" type="text">-->
          </div>
        </div>
        <div class="col-lg-3">
          <div class="check">
            <!--<h4>Registration address(Required)</h4>-->
            <!--<p>Street</p>-->
            <!--<input [(ngModel)]="regAddress.street" id="streetInput" class="form-control" type="text">-->

            <!--<p>House</p>-->
            <!--<input [(ngModel)]="regAddress.house" #houseInput id="houseInput" class="form-control"-->
            <!--type="text">-->

            <!--<p>Flat</p>-->
            <!--<input [(ngModel)]="regAddress.flat" #flatInput id="flatInput" class="form-control" type="text">-->
          </div>
        </div>
        <div class="col-lg-3">
          <div class="check">
            <!--<h4>Phones(At least one mobile)</h4>-->
            <!--<p>Home</p>-->
            <!--<input [(ngModel)]="homePhone.number" #homePhoneInput id="homePhoneInput" class="form-control"-->
            <!--type="text">-->

            <!--<p>Working</p>-->
            <!--<input [(ngModel)]="workingPhone.number" #workingPhoneInput id="workingPhoneInput"-->
            <!--class="form-control" type="text">-->

            <!--<p>Mobile 1</p>-->
            <!--<input [(ngModel)]="mobilePhone1.number" #mobilePhone1Input id="mobilePhone1Input"-->
            <!--class="form-control" type="text">-->

            <!--<p>Mobile 2</p>-->
            <!--<input [(ngModel)]="mobilePhone2.number" #mobilePhone2Input id="mobilePhone2Input"-->
            <!--class="form-control" type="text">-->

            <!--<p>Mobile 3</p>-->
            <!--<input [(ngModel)]="mobilePhone3.number" #mobilePhone3Input id="mobilePhone3Input"-->
            <!--class="form-control" type="text">-->
          </div>
        </div>

      </div>
      <div class="row bottom-btns">
        <div class="col-sm-3">
          <a (click)="saveClient()" class="btn btn-md btn-primary btn-block">Save</a>
        </div>

        <div class="col-sm-3">
          <a (click)="closeModalForm()" class="btn btn-md btn-block cancelBtn">Cancel</a>
        </div>
      </div>
    </div>

  </div>

</div>