<div id="myModal" class="modal">
    <div class="modal-content">
        <span (click)="closeModalForm()" class="close">&times;</span>
        <h2 id="welcomeText"><b>Add new Client</b></h2><br>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="check">
                        <h4>Basic data</h4>
                        <p>Surname:</p>
                        <input #surnameInput id="surnameInput" class="form-control" type="text" placeholder="Required">
                        <p>Name:</p>
                        <input #nameInput id="nameInput" class="form-control" type="text" placeholder="Required">
                        <p>Middle Name:</p>
                        <input #patronymicInput id="patronymicInput" class="form-control" type="text"
                               placeholder="Required">
                        <p>Date of birth</p>
                        <input #dateInput id="dateInput" class="input-group date" type="date">
                        <p>Character:(Required)</p>
                        <select>
                        </select>
                        <p>Gender</p>
                        <input #genderInput id="genderInput" class="form-control" type="text" placeholder="Required">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="check">
                        <h4>Living address (fact)</h4>
                        <p>Street</p>
                        <input #factStreetInput id="factStreetInput" class="form-control" type="text">

                        <p>House</p>
                        <input #factHouseInput id="factHouseInput" class="form-control" type="text">

                        <p>Flat</p>
                        <input #factFlatInput id="factFlatInput" class="form-control" type="text">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="check">
                        <h4>Registration address(Required)</h4>
                        <p>Street</p>
                        <input #streetInput id="streetInput" class="form-control" type="text">

                        <p #anyP>House</p>
                        <input #houseInput id="houseInput" class="form-control" type="text">

                        <p>Flat</p>
                        <input #flatInput id="flatInput" class="form-control" type="text">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="check">
                        <h4>Phones(At least one mobile)</h4>
                        <p>Home</p>
                        <input #homePhoneInput id="homePhoneInput" class="form-control" type="text">

                        <p>Working</p>
                        <input #workingPhoneInput id="workingPhoneInput" class="form-control" type="text">

                        <p>Mobile 1</p>
                        <input #mobilePhone1Input id="mobilePhone1Input" class="form-control" type="text">

                        <p>Mobile 2</p>
                        <input #mobilePhone2Input id="mobilePhone2Input" class="form-control" type="text">

                        <p>Mobile 3</p>
                        <input #mobilePhone3Input id="mobilePhone3Input" class="form-control" type="text">
                    </div>
                </div>

            </div>
            <div class="row bottom-btns">
                <div class="col-sm-3">
                    <a (click)="saveClient()" class="btn btn-md btn-primary btn-block">Save</a>
                </div>

                <div class="col-sm-3">
                    <a (click)="closeModalForm()" class="btn btn-md btn-block cancelBtn">Cancel</a>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="bootstrap/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>