<div>

    <div class="">

    </div>
    <div class="container topMenu">
        <div class="row">

            <div class="col-sm-3">
                <h4>Main Form Component</h4>
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <!--<div class="col-sm-3">-->
                    <!--<input [(ngModel)]="searchField" id="input" type="text" class="form-control"-->
                    <!--placeholder="Enter FIO">-->
                    <!--</div>-->

                    <!--<div class="col-sm-2">-->
                    <!--<a (click)="searchClicked()" class="btn">Search</a>-->
                    <!--</div>-->
                    <!--<div class="col-sm-1">-->
                    <!--<a class="btn" (click)="plusClick()">+</a>-->
                    <!--</div>-->
                    <div class="col-lg-3">
                        <button class="btn"
                                (click)="openClients()">
                            {{clientsText}}
                        </button>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn"
                                (click)="loadUserInfoButtonClicked()">
                            {{userInfoText}}
                        </button>
                    </div>

                    <div class="col-sm-2">
                        <a class="btn" (click)="exit.emit()">Exit</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div *ngIf="!userInfo">

        <div *ngIf="loadUserInfoError">
            {{loadUserInfoError}}
        </div>
    </div>
    <div *ngIf="userInfo">
        <table>
            <tbody>

            <tr>
                <td>ID</td>
                <td>&nbsp;:&nbsp;</td>
                <td><b>{{userInfo.id}}</b></td>
            </tr>
            <tr>
                <td>Account name</td>
                <td>&nbsp;:&nbsp;</td>
                <td><b>{{userInfo.accountName}}</b></td>
            </tr>
            <tr>
                <td>Surname</td>
                <td>&nbsp;:&nbsp;</td>
                <td><b>{{userInfo.surname}}</b></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>&nbsp;:&nbsp;</td>
                <td><b>{{userInfo.name}}</b></td>
            </tr>
            <tr>
                <td>Patronymic</td>
                <td>&nbsp;:&nbsp;</td>
                <td><b>{{userInfo.patronymic}}</b></td>
            </tr>
            <tr>
                <td>Phone type</td>
                <td>&nbsp;:&nbsp;</td>
                <td><b>{{userInfo.phoneType}}</b></td>
            </tr>

            </tbody>
        </table>
    </div>
    <list-form-component
            *ngIf="openClient"
            (openEditingForm)="openEditingForm($event)"></list-form-component>
    <edit-form-component (onClose)="setEditingClientNull()" [ngStyle]="{display:
    editingClient ? 'block': 'none'}"
                         (returnChanges)="applyChanges($event)"></edit-form-component>
</div>