.button {
    font-size: 20px;
    padding: 7px 15px 7px 15px;
    background: #3498db;
    border: 0;
    color: white;
    text-decoration: none;
}

.btn {
    margin: 5px;
}

.form-control {
    margin: 5px;
}

.button:hover {
    background: #34bcdb;
}

/* Table start */
table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

/*End table*/

/* Pagination start*/
.headers td {
    font-style: oblique;
}

.pagination {
    display: inline-block;
}

.container {
    margin: 0px;
    padding: 0px;
}

.btn {
    width: 100%;
}

.row {
    alignment: left;
}

.col-sm {
    margin: 0;
    padding: 0;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #1a5caf;
    color: white;
}

.pagination a:hover:not(.active) {
    color: #1a7cd7;
    background-color: #ddd;
}

/* Pagination end */
